@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --mainBackground: #323941;
  --secondBackground: #1a1e21;
  --mainColor: #3860ec;
  --secondColor: #2247ce;
}

body {
  background-color: var(--mainBackground);
  font-family: 'Roboto', sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--secondBackground);
  color: #f2f2f2;
  border-radius: 10px;
  width: 800px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.message {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.blue-letter {
  color: var(--mainColor);
}

.points {
  text-align: end;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.cta {
  background-color: var(--mainBackground);
  color: var(--mainColor);
  transition: color 0.5s ease-in-out;
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
}

.cta:hover {
  color: var(--secondColor);
}

.details {
  margin-top: 40px;
  text-align: center;
}

.option {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
}

.cp {
  margin-top: 30px;
  margin-bottom: 30px;
}

#game {
  width: 120px;
  padding: 10px 0;
  border-radius: 3px;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}

.against {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
}

.cta-reload {
  margin-top: 30px;
  border: none;
  background-color: var(--mainColor);
  transition: background-color 1s ease-out;
  width: 160px;
  height: 60px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.7px;
}

.cta-reload:hover {
  background-color: var(--secondColor);
}
